---
import LinksNavbar from "./LinkNavbar.astro";
import { routeForRole } from "../data/routes";

interface Props {
    isMovil?: boolean;
}
const { isMovil = false } = Astro.props;
---

<div
    id="divNav"
    class={`${isMovil == false ? "w-[9.4rem] h-full fixed hidden lg:visible lg:block lg:z-50" : "fixed inset-0 right-0 z-50 hidden"} `}
>
    <nav
        id={`${isMovil == false ? "container-navbar" : "container-navbarMobil"}`}
        class="bg-green-500 w-[8.7rem] z-10 fixed inset-y-0 right-0 lg:h-full lg:static lg:z-auto lg:w-full flex flex-col gap-2 pt-2 px-1 text-white"
    >
        {
            !isMovil ? (
                <button
                    id="toggleText"
                    class="w-full h-auto flex items-center justify-center cursor-pointer"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-8"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                        />
                    </svg>
                </button>
            ) : (
                <div class="w-full flex justify-end items-center">
                    <button
                        id="closeNavbar"
                        class="flex items-center justify-center cursor-pointer hover:bg-white/35 active:bg-white/35 rounded-full"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-8"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M6 18 18 6M6 6l12 12"
                            />
                        </svg>
                    </button>
                </div>
            )
        }

        <!-- Inicio -->

        <div class="personal w-full h-full hidden">
            {
                routeForRole.personal.map((route) => (
                    <LinksNavbar
                        url={route.url}
                        title={route.name}
                        isMovil={isMovil}
                    >
                        <svg
                            slot="iconFilled"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="size-6"
                            set:html={route.svg.filled}
                        />
                        <svg
                            slot="iconOutline"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6"
                            set:html={route.svg.outline}
                        />
                    </LinksNavbar>
                ))
            }
        </div>

        <div class="aspirantes w-full h-full hidden">
            {
                routeForRole.aspirantes.map((route) => (
                    <LinksNavbar
                        url={route.url}
                        title={route.name}
                        isMovil={isMovil}
                    >
                        <svg
                            slot="iconFilled"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="size-6"
                            set:html={route.svg.filled}
                        />
                        <svg
                            slot="iconOutline"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6"
                            set:html={route.svg.outline}
                        />
                    </LinksNavbar>
                ))
            }
        </div>

        <div class="alumno w-full h-full hidden">
            {
                routeForRole.alumno.map((route) => (
                    <LinksNavbar
                        url={route.url}
                        title={route.name}
                        isMovil={isMovil}
                    >
                        <svg
                            slot="iconFilled"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="size-6"
                            set:html={route.svg.filled}
                        />
                        <svg
                            slot="iconOutline"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6"
                            set:html={route.svg.outline}
                        />
                    </LinksNavbar>
                ))
            }
        </div>
    </nav>
    <div id="bg-navbar" class="absolute inset-0 bg-black/25 hidden -z-10"></div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const collapsed = localStorage.getItem("navbarCollapsed") === "true";
        const getCookie = document.cookie.split("=");
        const role = getCookie[1].toLowerCase();

        const button = document.getElementById(
            "toggleText",
        ) as HTMLButtonElement;
        const divNavbar = document.getElementById(
            "container-navbar",
        ) as HTMLDivElement;
        const divNavbarMobil = document.getElementById(
            "container-navbarMobil",
        ) as HTMLDivElement;
        const divContainer = document.getElementById(
            "div-body",
        ) as HTMLDivElement;
        const divNav = document.getElementById("divNav") as HTMLDivElement;
        const bgNavbar = document.getElementById("bg-navbar") as HTMLDivElement;
        const textlink = document.querySelectorAll(".showText");
        const links = document.querySelectorAll(".links-navbar");
        const body = document.querySelector("body") as HTMLBodyElement;
        const closeButton = document.getElementById(
            "closeNavbar",
        ) as HTMLButtonElement;

        // Busca en todo el DOM, no importa si es móvil o escritorio
        const divsRoles: Record<string, NodeListOf<HTMLDivElement>> = {
            alumno: document.querySelectorAll(".alumno"),
            aspirantes: document.querySelectorAll(".aspirantes"),
            personal: document.querySelectorAll(".personal"),
        };

        if (role != "") {
            // Muestra solo el que corresponde
            divsRoles[role]?.forEach((e: HTMLDivElement) =>
                e.classList.remove("hidden"),
            );
        }

        if (collapsed) {
            textlink.forEach((e) => e.classList.add("hidden"));
            links.forEach((e) => {
                e.classList.add("justify-center");
                e.classList.remove("pl-2");
            });
            divNavbar.classList.remove("lg:w-full");
            divContainer.classList.toggle("lg:pl-44");
            divContainer.classList.toggle("lg:pl-30");
            divNavbar.classList.add("lg:w-20");
        }

        button?.addEventListener("click", () => {
            textlink.forEach((e) => e.classList.toggle("hidden"));
            links.forEach((e) => {
                e.classList.toggle("justify-center");
                e.classList.toggle("pl-2");
            });
            divContainer.classList.toggle("lg:pl-44");
            divContainer.classList.toggle("lg:pl-30");
            divNavbar.classList.toggle("lg:w-full");
            divNavbar.classList.toggle("lg:w-20");

            const isNowCollapsed = divNavbar.classList.contains("lg:w-20");
            localStorage.setItem("navbarCollapsed", String(isNowCollapsed));
        });

        bgNavbar?.addEventListener("click", hideNavbar);

        closeButton?.addEventListener("click", hideNavbar);

        function hideNavbar() {
            divNavbarMobil.classList.remove("show-navbar");
            setTimeout(() => {
                divNavbarMobil.classList.add("hidden");
                divNav.classList.add("hidden");
            }, 300); // espera a que termine la transición
            bgNavbar?.classList?.add("hidden");
            body.classList.remove("overflow-y-hidden");
        }
    });
</script>

<style>
    #container-navbarMobil {
        transform: translateX(100%);
        transition: 0.4s ease-in-out;
        visibility: hidden;
    }

    #container-navbarMobil.show-navbar {
        transform: translateX(0);
        transition: 0.4s ease-in-out;
        opacity: 1;
        visibility: visible;
    }
</style>
