---
import { routes } from "../data/routes";
import Link from "./Link.astro";

interface Props {
    title: string;
    routesMiddle?: [{url:string, title: string}];
}

const { routesMiddle } = Astro.props;
const { title } = Astro.props;
const route = Astro.url.pathname;
const ishomeRoute = routes.home.url == route;

// Encuentra la ruta actual en el objeto routes, hacemos una busqueda en el objeto
// de rutas verificando que se encuentre la url en donde estamos con las url
// que esta en el objeto
const currentRouteEntry = Object.values(routes).find((r) => r.url === route);
---

<div class="w-full flex flex-col p-3 border-2 rounded-xl lg:p-4">
  <p class="text-xl lg:text-3xl font-bold">{title}</p>

    {
        !ishomeRoute && (
            <div class="select-none hidden lg:visible lg:flex">
                <Link href={routes.home.url} title={routes.home.title} />
                <p class="mx-0.5">/</p>
                {routesMiddle?.map((route) => (
                    <Link href={route.url} title={route.title} />
                    <p class="mx-0.5">/</p>
                ))
                }
                <Link
                    href={currentRouteEntry?.url ?? ""}
                    title={currentRouteEntry?.title ?? ""}
                    active = {true}
                />
            </div>
        )
    }
</div>
